@model Szkola.Models.Zapisy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zapisy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_zapisu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_zapisu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Przedmiot.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przedmiot.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZapisyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
